<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery - <%= data.gallery_title %></title>
    <link rel="stylesheet" type="text/css" href="/style/style_general.css">
    <link rel="stylesheet" type="text/css" href="/style/style_gallery_category.css">
</head>

<body>
    <nav class="dark">
        <a id="navHome" href="/"><img id="mainLogo" src="/images/s_hex_logo.png"></img></a>
        <div id="navButtons">
            <a href="/about"><button class="navButton">About</button></a>
            <a href="/projects"><button class="navButton">Projects</button></a>
            <a href="/work_history"><button class="navButton">Work History</button></a>
            <a href="/gallery"><button class="navButton">Gallery</button></a>
        </div>
    </nav>

    <main>
        <h2><%= data.gallery_title %></h2>

        <section>
            <% data.gallery_content.forEach( (item, index) => { %>
            <a class="pageLink" href='<%= "/gallery/" + category + "/" + item.name.replace(" ", "_") %>'>
                <div class="thumbnailContainer">
                    <img class="thumbnail" src='<%= "/images/gallery_images/" + category + "/" + item.images[0] %>'>
                    <div class="nameBar">
                        <h4><%= item.name %></h4>
                    </div>
                </div>
            </a>
            <% }); %>
        </section>
    </main>
</body>

</html>